@model GISBWI.ADODotNet.artikel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>artikel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idartikel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idartikel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.judul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.judul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isi)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isi)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_buat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_buat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.keterangan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.keterangan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.admin.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.admin.nama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jenis_artikel.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jenis_artikel.nama)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
