@model GISBWI.ADODotNet.artikel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_BackEndLayout.cshtml";
}


<fieldset>
    <legend>artikel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idartikel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idartikel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.judul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.judul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.isi)
    </div>
    <div class="display-field">
       @Html.Raw(@Html.DisplayTextFor(model => model.isi).ToHtmlString())
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tanggal_buat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tanggal_buat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.keterangan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.keterangan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.admin.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.admin.nama)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jenis_artikel.nama)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jenis_artikel.nama)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.idartikel }) |
    @Html.ActionLink("Back to List", "Index")
</p>
